/* .discord{
        background-color: #23272ABF;
        border: none;
        color: white;
        padding: 5px;
        height: auto;
        width:15%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 12px;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } */

    .discord{
        background-color: #23272AAA;
        align-items: center;
        border: none;
        color: white;
        padding: 5px;
        height: auto;
        width:15%;
        text-decoration: none;
        display: flex;
        font-size: 27px;
        margin: 4px 2px;
        border-radius: 12px;
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .twitter{
        background-color: #15202BAA;
        align-items: center;
        border: none;
        color: white;
        padding: 5px;
        height: auto;
        width:15%;
        text-decoration: none;
        display: flex;
        font-size: 27px;
        margin: 4px 2px;
        border-radius: 12px;
        margin: 0;
        position: absolute;
        top: 17%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }





    .content{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .background{
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url("background.jpg");
        height: 100%;
        width: 100%;
        background-size: cover;
        -webkit-filter: blur(12px);
        -moz-filter: blur(12px);
        -o-filter: blur(12px);
        -ms-filter: blur(12px);
        filter: blur(12px);

        
    }

    /*
 .blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(25px); 
  height: 100vh;
	width: 50%;
} */ 